<div class="d-flex flex-column dashboard">
  <h1>Dashboard</h1>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2 mb-1 px-3">
    <%= link_to admins_new_user_path, class: "btn btn-dark btn-sm me-2 rounded-pill add-user-btn fw-bold" do %>
      <span class="fas fa-plus me-2"></span> Add User
    <% end %>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-share">Share</button> 
      <button type="button" class="btn btn-sm btn-export">Export</button>
    </div>
  </div>
  <div class="row justify-content-md-center px-3 pt-1 g-5">
    <div class="col-12 col-sm-4 col-xl-4">
      <div class="card admin-card shadow-sm">
        <div class="card-body">
          <div class="row d-block d-xl-flex align-items-center">
            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
              <div class="icon-shape icon-shape-primary me-4 me-sm-0">
                <i class="fas fa-user-friends"></i>
              </div>
              <div class="d-sm-none">
                <h5><a href="<%= admins_index_path %>" class="text-dark stretched-link"></a>Users</h5>
                <h3 class="mb-1"><%= User.count %></h3>
              </div>
            </div>
            <div class="col-12 col-xl-7 px-xl-0">
              <div class="d-none d-sm-block">
                <h5><a href="<%= admins_index_path %>" class="text-dark stretched-link"></a>Users</h5>
                <h3 class="mb-1"><%= User.count %></h3>
              </div>
              <small>As of today, <%= Date.today %></small>
              <div class="small mt-2">
                <span class="fas fa-angle-up text-admin-success"></span> 
                <span class="text-admin-success fw-bold">0.1%</span> 
                Since last month
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-xl-4">
      <div class="card admin-card shadow-sm">
        <div class="card-body">
          <div class="row d-block d-xl-flex align-items-center">
            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
              <div class="icon-shape icon-shape-secondary me-4 me-sm-0">
                <i class="fas fa-cash-register"></i>
              </div>
              <div class="d-sm-none">
                <h5><a href="<%= home_transactions_path %>" class="stretched-link"></a>Transactions</h5>
                <h3 class="mb-1"><%= @transactions.count %></h3>
              </div>
            </div>
            <div class="col-12 col-xl-7 px-xl-0">
              <div class="d-none d-sm-block">
                <h5><a href="<%= home_transactions_path  %>" class="stretched-link"></a>Transactions</h5>
                <h3 class="mb-1"><%= @transactions.count %></h3>
              </div>
              <small>This month</small>
              <div class="small mt-2">
                <span class="fas fa-angle-up text-admin-success"></span> 
                <span class="text-admin-success fw-bold">28.2%</span> 
                Since last month
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-xl-4">
      <div class="card admin-card shadow-sm">
        <div class="card-body">
          <div class="row d-block d-xl-flex align-items-center">
            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
              <div class="icon-shape icon-shape-info me-4 me-sm-0">
                <i class="fas fa-chart-pie"></i>
              </div>
              <div class="d-sm-none">
                <h5 class="ms-1"><a href="<%= admins_pending_path  %>" class="stretched-link"></a>Pending</h5>
              </div>
            </div>
            <div class="col-12 col-xl-7 px-xl-0">
              <div class="d-none d-sm-block">
                <h5 class="ms-1"><a href="<%= admins_pending_path %>" class="stretched-link"></a>Pending</h5>
              </div>
              <h6 class="text-secondary admin-text">
                <span class="icon w-20 icon-xs icon-secondary"><i class="fas fa-user-shield"></i></span> 
                Admin <strong><%= @admins_pending.count %></strong>
              </h6>
              <h6 class="text-secondary admin-text">
                <span class="icon w-20 icon-xs icon-secondary"><i class="fas fa-business-time"></i></span> 
                Broker <strong><%= @brokers_pending.count %></strong>
              </h6>
              <h6 class="text-secondary admin-text">
                <span class="icon w-20 icon-xs icon-secondary"><i class="fab fa-ello"></i></span> 
                &nbsp;Buyer <strong><%= @buyers_pending.count %></strong>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>