
<div class="bg-white mt-5 mb-5 edit-card">
  <%= form_with method: :put, scope: :user, url: admins_edit_user_path, local:true do |f| %>

  <div class="row">
    <div class="col-md-3 border-right">
      <div class="mt-3 ms-3">
        <%= link_to admins_show_user_path, :class => "text-start back-arrow" do %>
          <i class="fas fa-arrow-left text-dark"></i>
        <% end %>
      </div>
       
      <div class="align-items-center text-center p-3">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar.variant(resize: "150x150!"), class:  "rounded-circle mt-3 mb-2" %>
        <% else %>
          <%= image_tag("default_profile.jpg", class: "rounded-circle mt-3 mb-2", height: '150', width: '150') %>
        <% end %>
        <div class="mt-2 mb-3 justify-content-center">
          <%= f.label :avatar, "Edit Image", class: "btn btn-sm btn-secondary btn-photo border-secondary text-dark disabled" %>
          <%= f.file_field :avatar, class: "input_file" %> </div>
          <span class="font-weight-bold"><%= @user.name %></span><br>
          <span class="text-black-50"><%= @user.email %></span>
          <span></span>
        </div>
      </div>
    <div class="col-md-5 border-right">
     
        <div class="form-inputs p-3 pt-4">
          <div class="mb-3 d-flex justify-content-center mt-5">
            <%= f.text_field :name,
                        required: true,
                        placeholder: 'Name',
                        class: 'form-control',
                        input_html: { autocomplete: "name" }%>
            </div>
            <div class="mb-3 d-flex justify-content-center">
              <%= f.text_field :email,
                          required: true,
                          placeholder: 'Email',
                          class: 'form-control',
                          input_html: { autocomplete: "email" }%>
            </div>
            <div class="form-actions mb-3 mt-3 d-flex justify-content-center p-1">
              <%= f.submit "Edit", :class => 'btn btn-action btn-md btn-warning' %>
            </div>
          </div> 
        </div>
        <div class="col-md-4 p-3 pt-4">
          <div class="mb-1 mt-5 d-flex justify-content-center">
            <h5>Cancel account</h5>
          </div>
          <div class="mb-3 d-flex justify-content-center">
            <%= link_to "Cancel my account", admins_cancel_user_path, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-sm btn-danger" %></p>
          </div>
        </div>
    </div>
  </div>
  <% end %>
</div>