<div class="d-flex flex-column dashboard">
  <h1>My Stocks</h1>
  <div class="w-50 mt-3 mb-4">
    <%= form_with method: :post, url: stocks_create_path , local:true do |f| %>
    <div class=" input-group input-group-sm">
      <%= f.text_field :symbol, :class => 'form-control search-bar fs-5 ps-3', placeholder: 'Search by stock' %>
      <span class="input-group-text bg-dark border-dark" id="basic-addon2">
      <%= f.button :button, :class => 'btn btn-sm' do %>
        <lord-icon
          src="https://cdn.lordicon.com/msoeawqm.json"
          trigger="hover"
          colors="primary:#ffffff,secondary:#16c72e"
          stroke="100"
          scale="64"
          style="width:32px;height:32px">
        </lord-icon>
      <% end %>
      </span>
    </div>
    <% end %>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <% @stocks.each do | stock | %>
    <div class="col">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <h3 class="card-title stocks-title mb-0"><a href="<%= stocks_show_path(stock.id) %>" class="stretched-link"></a><%= stock.symbol.upcase %> </h3>
          <small><%= stock.name %></small>
          <h5 class="card-text mt-3 fs-4"><%= number_to_currency(stock.latest_price) %></h5>
          <div class="row">
            <div class="col">
              <p class="stock-change stock-<%= @gain_loss %>"><%= number_to_currency(stock.change) %> (<%= stock.percent %>) <i class="fas fa-caret-up"></i></p><br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>