<div class="d-flex flex-column dashboard">
  <h1>My Stocks</h1>
  <div class="w-50 mt-3 mb-4">
    <%= form_with method: :post, url: stocks_create_path , local:true do |f| %>
    <div class=" input-group input-group-sm">
      <%= f.text_field :symbol, :class => 'form-control search-bar fs-5 ps-3', placeholder: 'Search by stock' %>
      <span class="input-group-text bg-dark border-dark" id="basic-addon2">
      <%= f.button :button, :class => 'btn btn-sm' do %>
        <lord-icon
          src="https://cdn.lordicon.com/msoeawqm.json"
          trigger="hover"
          colors="primary:#ffffff,secondary:#16c72e"
          stroke="100"
          scale="64"
          style="width:32px;height:32px">
        </lord-icon>
      <% end %>
      </span>
    </div>
    <% end %>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <% @stocks.each do | stock | %>
    <div class="col">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <h3 class="card-title stocks-title mb-0"><%= stock.symbol.upcase %> </h3>
          <small><%= stock.name %> | Common Stock</small>
          <h5 class="card-text stocks-price mt-3">$132.60</h5>
          <div class="row">
            <div class="col-6">
              <small><strong>VOLUME:</strong> <%= stock.avg_30_volume %></small>
              <small><strong>MARKET CAP:</strong> <%= stock.market_cap %></small><br>
            </div>
            <div class="col-6">
              <small><strong>OPEN PRICE:</strong> <%= stock.open.price %></small><br>
              <small><strong>HIGH TODAY:</strong> <%= stock.high %></small><br>
              <small><strong>LOW TODAY:</strong> <%= stock.low %></small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>