<div class="d-flex flex-column dashboard">
  <h1><%= current_user.name%>'s Portfolio</h1>
  <div class="w-50 mt-3 mb-4">
  <%= form_with method: :post, url: stocks_create_path , local:true do |f| %>
  <div class=" input-group input-group-sm">
    <%= f.text_field :symbol, :class => 'form-control search-bar fs-5 ps-3', placeholder: 'Search by stock' %>
    <span class="input-group-text bg-dark border-dark" id="basic-addon2">
    <%= f.button :button, :class => 'btn btn-sm' do %>
      <lord-icon
        src="https://cdn.lordicon.com/msoeawqm.json"
        trigger="hover"
        colors="primary:#ffffff,secondary:#16c72e"
        stroke="100"
        scale="64"
        style="width:32px;height:32px">
      </lord-icon>
    <% end %>
    </span>
  </div>
  <% end %>
</div>
  <div class="row justify-content-md-center px-1 pt-1 g-5">
    <div class="col-12 col-sm-12 col-xl-4">
      <div class="card border-light shadow-sm">
        <div class="card-body">
          <h2 class="h5"><a href="<%= home_broker_show_stocks_path %>" class="text-dark stretched-link"></a>My Stocks</h2>
          <div class="d-block">
            <div class="d-flex align-items-center pt-3 me-5">
              <div class="icon icon-shape icon-sm icon-shape-success rounded me-3">
                <span class="fas fa-chart-bar">
                </span>
              </div>
              <div class="d-block">
                <label class="mb-0">Total Earnings</label>
                <h4 class="mb-0">$1,300</h4>
              </div>
            </div>
            <div class="d-flex align-items-center pt-3">
              <div class="icon icon-shape icon-sm icon-shape-quaternary rounded me-3">
                <span class="fas fa-chart-area"></span>
              </div>
              <div class="d-block">
                <label class="mb-0">Total Stocks</label>
                <h4 class="mb-0">15</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-xl-4">
      <div class="card border-light shadow-sm">
        <div class="card-body">
          <h2 class="h5">Transactions</h2>
          <div class="d-block broker-card">
            <div class="d-flex align-items-center pt-3 me-5">
              <div class="d-block">
                <div class="h6 fw-normal text-gray mb-2">
                  Total orders
                </div>
                <h2 class="h3">452</h2>
                <div class="small mt-2">
                  <span class="fas fa-angle-up text-success"></span>
                  <span class="text-success fw-bold">18.2%</span>
                </div>
                <div class="small mt-2">
                  <span class="fw-light">As of today, <%= Date.today %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-xl-4">
      <div class="col-12 px-0 mb-4">
        <div class="card border-light shadow-sm">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
              <div>
                <h6 class="mb-0">
                  <span class="icon icon-xs me-3">
                    <span class="fas fa-globe-europe">
                    </span>
                  </span>
                  Global Rank
                </h6>
                <div class="small card-stats">
                  United States
                  <span class="icon icon-xs text-success ms-2">
                    <span class="fas fa-angle-up"></span>
                  </span>
                </div>
              </div>
              <div>
                <a href="#" class="text-primary fw-bold">#755<span class="fas fa-chart-line ms-2"></span>
                </a>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
              <div>
                <h6 class="mb-0">
                  <span class="icon icon-xs me-3">
                    <span class="fas fa-flag-usa"></span>
                  </span>
                  Country Rank
                </h6>
                <div class="small card-stats">
                  United States
                  <span class="icon icon-xs text-success ms-2">
                    <span class="fas fa-angle-up"></span>
                  </span>
                </div>
              </div>
              <div>
                <a href="#" class="text-primary fw-bold">
                  #32<span class="fas fa-chart-line ms-2"></span>
                </a>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between pt-3">
              <div>
                <h6 class="mb-0">
                  <span class="icon icon-xs me-3">
                    <span class="fas fa-folder-open"></span>
                  </span>
                  Category Rank
                </h6>
                <div class="small card-stats">
                  United States
                  <span class="icon icon-xs text-success ms-2">
                    <span class="fas fa-angle-up"></span>
                  </span>
                </div>
              </div>
              <div>
                <a href="#" class="text-primary fw-bold">
                  #16<span class="fas fa-chart-line ms-2"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>