<div class="d-flex flex-column dashboard">
  <h1><%= current_user.name%>'s Portfolio</h1>
  <div class="w-50 mt-3 mb-4">
  <%= form_with method: :post, url: stocks_create_path , local:true do |f| %>
    <div class=" input-group input-group-sm">
      <%= f.text_field :symbol, :class => 'form-control search-bar fs-5 ps-3', placeholder: 'Search by stock' %>
      <span class="input-group-text bg-dark border-dark" id="basic-addon2">
      <%= f.button :button, :class => 'btn btn-sm shadow-none' do %>
        <lord-icon
          src="https://cdn.lordicon.com/msoeawqm.json"
          trigger="hover"
          colors="primary:#ffffff,secondary:#16c72e"
          stroke="100"
          scale="64"
          style="width:32px;height:32px">
        </lord-icon>
      <% end %>
      </span>
    </div>
  <% end %>
</div>
<div class="row justify-content-md-center px-1 pt-1 g-5 buyer-row mt-4">
  <div class="col-12 col-sm-12 col-xl-4">
    <div class="card buyer-card shadow-sm">
      <div class="card-body ps-4">
        <h2 class="h5"><a href="<%= home_buyer_show_stocks_path %>" class="text-dark stretched-link"></a>My Stocks</h2>
        <div class="d-block">
          <div class="d-flex align-items-center pt-3 me-5">
            <div class="icon icon-shape icon-sm icon-shape-success rounded me-3">
              <span class="fas fa-chart-bar">
              </span>
            </div>
            <div class="d-block">
              <label class="mb-0">Total Stocks</label>
                <h4 class="mb-0 fw-bold"><%= @buyer_total_stocks.distinct.count(:user_stock_id) %></h4>
            </div>
          </div>
          <div class="d-flex align-items-center pt-3">
            <div class="icon icon-shape icon-sm icon-shape-quaternary rounded me-3">
              <span class="fas fa-coins"></span>
            </div>
            <div class="d-block">
              <label class="mb-0">Total Earnings</label>
              <h4 class="mb-0 fw-bold"><%= number_to_currency(@transactions.sum(:total)) %></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-xl-4">
    <div class="card buyer-card shadow-sm">
      <div class="card-body ps-4">
        <h2 class="h5"><a href="<%= home_transactions_path %>" class="text-dark stretched-link"></a>Transactions</h2>
        <div class="d-block broker-card">
          <div class="d-flex align-items-center pt-3 me-5">
            <div class="d-block">
              <div class="h6 fw-normal text-gray mb-2">
                Total orders
              </div>
              <h2 class="h3 fw-bold"><%= @transactions.count %></h2>
              <div class="small mt-2">
                <span class="fas fa-angle-up text-success"></span>
                <span class="text-success fw-bold">18.2%</span>
              </div>
              <div class="small mt-2">
                <span class="fw-normal">As of today, <%= Date.today %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <hr class="mt-5">
</div>