<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top px-5 pt-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="<%= root_path %>">Stak</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
      <% if admin_signed_in? %>
        <%= render 'layouts/admin_nav' %>
      <% elsif broker_signed_in? %>
        <%= render 'layouts/broker_nav' %>
      <% elsif buyer_signed_in? %>
        <%= render 'layouts/buyer_nav' %>
      <% else %>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item dropdown mx-2">
            <a class="nav-link" aria-current="page" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products <i class="fas fa-angle-down"></i></a>
            <ul class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdownMenuLink1">
              <li><a class="dropdown-item" href="#">Stocks & Funds</a></li>
              <li><a class="dropdown-item" href="#">Futures</a></li>
              <li><a class="dropdown-item" href="#">Crypto</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown mx-2">
            <a class="nav-link" aria-current="page" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">Learn <i class="fas fa-angle-down"></i></a>
            <ul class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdownMenuLink2">
              <li><a class="dropdown-item" href="#">Investing basics</a></li>
              <li><a class="dropdown-item" href="#">Blockchain</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown mx-2">
            <a class="nav-link" aria-current="page" href="#" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">Who we are <i class="fas fa-angle-down"></i></a>
            <ul class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdownMenuLink3">
              <li><a class="dropdown-item" href="#">About us</a></li>
              <li><a class="dropdown-item" href="#">Blog</a></li>
            </ul>
          </li>
        </ul>
      <% end %>
        <div class="dropdown dropstart">
          <% if user_signed_in? %>
            <div class="flex-shrink-0">
              <a href="#" class="d-block link-warning text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                <% if current_user.avatar.attached? %>
                  <%= image_tag current_user.avatar, class: "rounded-circle", width: "32", height: "32" %>
                <% else %>
                  <%= image_tag("default_profile.jpg", class: "rounded-circle", height: '32', width: '32') %>
                <% end %>
              </a>
              <ul class="dropdown-menu text-small shadow border-light animate slideIn" aria-labelledby="dropdownUser">
                <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
              </ul>
            </div>
          <% else %>
            <button type="button" class="btn btn-header btn-md btn-dark me-2 rounded-pill dropdown-toggle" type="button" id="dropdownLoginButton" data-bs-toggle="dropdown" aria-expanded="false"> Login</button>
            <ul class="dropdown-menu dropdown-menu-dark drop-login animate slideIn" aria-labelledby="dropdownLoginButton">
              <li><%= link_to "as Admin", new_admin_session_path, class:"dropdown-item"%></li>
              <li><%= link_to "as Broker", new_broker_session_path, class:"dropdown-item"%></li>
              <li><%= link_to "as Buyer", new_buyer_session_path, class:"dropdown-item"%></li>
            </ul>
          <% end %>
      </div>
      </div>
    </div>
  </nav>
</header>