<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>StakApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/033affd47f.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class=" d-flex h-100">
      
        <%= render 'layouts/header' %>
        <% if user_signed_in? %>  
          <div class="container h-100">
            <%= yield %>
          </div>
        <% else %>
          <div class="container d-flex mx-auto h-100">
            <%= render 'layouts/hero' %>
          </div>
        <% end %>
      
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  </body>
</html>
